* {
  font-size: 17px;
}

.longtermList {
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
}

.deadlineList {
  justify-content: flex-end;
  width: 60%;
  margin: 0 auto;
}

.taskEditField {
  padding: 2px;
}

.taskDescriptionField {
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.deleteIcon {
  height: 1.5em;
  width: 1.5em;
  padding: 2px;
}

.confirmIcon {
  height: 1.5em;
  width: 1.5em;
}

.completeIcon {
  height: 1.5em;
  width: 1.5em;
  color: green;
}
