server:
  port: 8081

logging:
  level:
    org.springframework.security: trace

spring:
  main:
    web-application-type: reactive
  application:
    name: planner
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/personaldb
    username: username
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    user:
      name: user
      password: password