server:
  port: 8081

logging:
  level:
    org.springframework.security: trace
#    liquibase: debug

spring:
  main:
    web-application-type: servlet
  application:
    name: planner
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    user:
      name: user
      password: password
  datasource:
    url: jdbc:postgresql://localhost:5432/personaldb
    username: username
    password: password
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    change-log: classpath:db/changelogs.xml
