name: build packages

on:
  workflow_dispatch:
    inputs:
      frontend_only:
        description: "Deploy only frontend"
        required: false
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v5
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "frontend/package-lock.json"
      - name: Install npm dependencies
        run: |
          cd frontend
          npm ci
      - name: Build frontend
        run: |
          cd frontend
          npm run build
        env:
          VITE_API_URL: ${{ vars.VITE_API_URL }}
      - name: Deploy static files to Cloudflare
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy frontend/dist --project-name=planner-frontend
      - name: Build JAR
        if: ${{ github.event.inputs.frontend_only != 'true' }}
        run: |
          cd backend
          chmod +x ./gradlew
          ./gradlew clean bootJar -x test
      - name: Log in to container registry
        if: ${{ github.event.inputs.frontend_only != 'true' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Docker image
        if: ${{ github.event.inputs.frontend_only != 'true' }}
        run: |
          docker build -t ghcr.io/blck-b/planner:latest .
      - name: Push Docker image
        if: ${{ github.event.inputs.frontend_only != 'true' }}
        run: |
          docker push ghcr.io/blck-b/planner:latest