name: CI on PR

on:
  workflow_dispatch:
  pull_request:
    branches: [ "*" ]

env:
  JAVA_VERSION: '25'
  NODE_VERSION: '24'

jobs:
  gradle-test-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
          cache-dependency-path: "frontend/package-lock.json"
      - name: Install npm dependencies
        run: |
          cd frontend
          npm ci

      - name: Frontend tests
        run : |
          cd frontend
          npm test
      
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: current
      - name: Grant execute permission for gradlew
        run: |
          cd backend
          chmod +x ./gradlew

      - name: Backend tests
        run: |
          cd backend
          ./gradlew test --stacktrace
      - name: Upload test logs
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: gradle-test-results
          path: |
            **/build/reports/
            **/build/test-results/
