name: deploy test

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v5
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "frontend/package-lock.json"
     
      - name: Build JAR
        run: |
          cd backend
          chmod +x ./gradlew
          ./gradlew clean bootJar -x test
      - name: Log in to container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Docker image
        run: |
          docker build -t ghcr.io/blck-b/test-planner:latest .
      - name: Push Docker image
        run: |
          docker push ghcr.io/blck-b/test-planner:latest
      - name: Trigger backend deploy
        # https://github.com/Dokploy/dokploy/issues/164#issuecomment-2190980695
        run: |
          curl -X POST \
            "https://dokploy.spruits.eu/api/application.deploy" \
            -H "accept: application/json" \
            -H "Content-Type: application/json" \
            -H "Authorization: Bearer ${{ secrets.DOKPLOY_API_TOKEN }}" \
            -H "x-api-key: ${{ secrets.DOKPLOY_API_TOKEN }}" \
            -d "{\"applicationId\": \"${{ secrets.DOKPLOY_TEST_APPLICATION_ID }}\"}"

      - name: Install npm dependencies
        run: |
          cd frontend
          npm ci
      - name: Commit ID
        run: echo "COMMIT_ID=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - name: Build frontend
        run: |
          cd frontend
          npm run build
        env:
          VITE_API_URL: ${{ vars.VITE_TEST_API_URL }}
          VITE_COMMIT_ID: ${{ env.COMMIT_ID }}
      - name: Deploy SPA to Cloudflare
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy frontend/dist --project-name=test-planner-frontend
